*.iml
.gradle
/local.properties
/keystore.properties
/signing/
/.idea/caches
/.idea/libraries
/.idea/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/ui/
.externalNativeBuild
.cxx
local.properties
